<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <title>DNS forwarding</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#ffffff">
  <script>window.sa=window.sa||function(){a=[].slice.call(arguments);sa.q?sa.q.push(a):sa.q=[a]};</script>
  <script>sa('error')</script>
  <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  <style>
    * {
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      padding: 0;
    }
    @media (min-width: 801px) {
      body {
        padding-top: 50px;
      }
    }
    body {
      background-image: linear-gradient(to right bottom, #12e0a7, #2dcef3);
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px;
    }
    body, input, p, textarea, a {
      color: #084d54;
    }
    body, input, p, textarea {
      font-family: "Kohinoor Bangla", Arial, sans-serif;
      font-size: 16px;
    }
    h1, h2, p {
      word-break: break-word;
    }
    h1, h2 {
      color: #095c65;
      margin: 0.5rem 0;
    }
    h1 {
      letter-spacing: 0.5px;
      font-size: 2em;
    }
    h1 span {
      font-size: 130%;
      margin-right: 2px;
    }
    h1 + p {
      margin: 0 0 1rem 0;
    }
    h2 {
      margin: 2rem 0 1rem 0;
    }
    p {
      margin: 1rem 0;
    }
    a.button {
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.6);
      padding: 5px 10px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
    body > * {
      max-width: 550px;
    }
  </style>
</html>
<body>
<h1>Oops...</h1>
<p>{{content}}</p>
<p><a class="button" href="https://dnsforwarding.com">Go to dnsforwarding.com</a></p>
<p><small>Build by <a href="https://adriaan.io/?utm_source=dnsforwarding.com">Adriaan van Rossum</a> &middot; <a href="https://github.com/adriaanvanrossum/dnsforwarding.com/">GitHub repo</a></small></p>
<noscript><img src="https://queue.simpleanalyticscdn.com/hello.gif" alt=""></noscript>
</body>
</html>
